
# python version : 3.8 #

# pytorch version #
#  1.10.1 version  #
# conda install pytorch==1.10.1 torchvision==0.11.2 torchaudio==0.10.1 cudatoolkit=10.2 -c pytorch

## Install requirements ##
# pip install -r requirements.txt

numpy
exifread
opencv-contrib-python
yacs
scipy
ninja
tqdm
psutil
matplotlib
kornia
packaging
scikit-spatial
scikit-image
cython
pytorch_lightning==1.3.0
flax
texttable
plotly
tensorboardX
torch_optimizer
scikit-learn
ptflops
easydict

## MATLAB build ##
# which matlab -> ls -l matlab : /home/miruware/hdd1/minjun/Matlab/bin/matlab
# cd [MATLAB Directory]\extern\engines\python
# python setup.py install

## Scatter build ## (should install pytorch scatter)
# https://github.com/rusty1s/pytorch_scatter
# pip install torch-scatter -f https://data.pyg.org/whl/torch-1.9.1+${CUDA}.html
# for cuda 10.2 cases, pip install torch-scatter -f https://data.pyg.org/whl/torch-1.9.1+10.2.html

# For ellipse detection (currently, not used)
# sudo apt install libopencv-dev
# sudo add-apt-repository --yes ppa:jeff250/opencv
# sudo apt update
# sudo apt-get install libopencv-nonfree-dev
# mex -lmwlapack -lopencv_core -lopencv_highgui -lopencv_imgproc generateEllipseCandidates.cpp
# git clone https://github.com/AlanLuSun/High-quality-ellipse-detection.git
# change original name to ellipse_detector
# Paper "Arc-support Line Segments Revisited: An Efficient and High-quality Ellipse Detection"

# Another ellipse detection (currently, not used)
# https://github.com/Li-Zhaoxi/AAMED
# https://github.com/yohschang/Randomized-Hough-Ellipse-Detector